<div class="row  mt-5">
  <div class="col-4 offset-4  mt-5">
    <div class="card" style="box-shadow: 1px 2px 67px 4px rgba(0,0,0,0.75);">
      <div class="card-header text-center">
        <div class="row">
          <div class="col-12 text-center">
            <img src="/assets/images/2018_FIFA_World_Cup.png" height="120" class="rounded" />
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-12 text-center">
            <span style="font-size:20px">PLEASE LOGIN</span>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <div class="row">
          <div class="col-4">
            <form ngNoForm action="/signin/Google" method="post">
              <input type="image" src="/assets/images/google-login.png" height="90" class="rounded" />
            </form>
          </div>
          <div class="col-4 border-left border-right">
            <a href="#">
              <img src="/assets/images/twitter-login.png" height="90" class="rounded ">
            </a>
          </div>
          <div class="col-4">
            <form ngNoForm action="/signin/Facebook" method="post">
              <input type="image" src="/assets/images/facebook-login.png" height="90" class="rounded" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
