<div class="p-3 m-5">

  <div class="row text-center">

    <div class="col-6 col-md-2" >
      <div class="card rounded text-white bg-primary mb-3" style="border-radius: 200px!important; box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-star"></i>
          </div>
          <p style="font-size:20px;margin:0">Score</p>
        </div>
        <div class="card-body">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.Score}}</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2">
      <div class="card text-white bg-success mb-3" style="
    border-radius: 200px!important;
    box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-trophy"></i>
            <p style="font-size:20px;margin:0">Rank</p>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.Rank}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-none d-md-block">
      <div class="card text-white bg-danger mb-3" style="
    border-radius: 200px!important;
    box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-lightbulb"></i>
            <p style="font-size:20px;margin:0">Corrects</p>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.CorrectPredictions}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-none d-md-block" >
      <div class="card text-white bg-danger mb-3" style="
    border-radius: 200px!important;
    box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-lightbulb"></i>
            <p style="font-size:20px;margin:0">Goal Diff</p>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.GoalDifferencePredictions}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-none d-md-block">
      <div class="card text-white bg-danger mb-3" style="
    border-radius: 200px!important;
    box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-lightbulb"></i>
            <p style="font-size:20px;margin:0">Match Winner</p>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.MatchWinnerPredictions}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 d-none d-md-block">
      <div class="card text-white bg-info mb-3" style="
    border-radius: 200px!important;
    box-shadow: 0px 4px 34px 7px rgba(181,83,108,1);">
        <div class="card-header text-center">
          <div style="font-size:20px; color:yellow">
            <i class="fas fa-lightbulb"></i>
            <p style="font-size:20px;margin:0">Wrongs</p>
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text text-center" style="font-size:20px">{{userStatus.WrongPredictions}}</p>
        </div>
      </div>
    </div>

  </div>

  <hr />


  <ngb-accordion [closeOthers]="true" activeIds="static-1">

    <ngb-panel id="static-2" title="Bonus Predictions">
      <ng-template ngbPanelContent>

        <h1 class="display-4">Groups</h1>

        <hr />

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group A</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupAPrediction,$event.target.value)" name="a1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupA" [selected]="team.Id===firstTeamInGroupAPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group A</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupAPrediction,$event.target.value)" name="a2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupA" [selected]="team.Id===secondTeamInGroupAPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group A')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupA.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group B</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupBPrediction,$event.target.value)" name="b1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupB" [selected]="team.Id===firstTeamInGroupBPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group B</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupBPrediction,$event.target.value)" name="2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupB" [selected]="team.Id===secondTeamInGroupBPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group B')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupB.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group C</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupCPrediction,$event.target.value)" name="c1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupC" [selected]="team.Id===firstTeamInGroupCPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group C</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupCPrediction,$event.target.value)" name="c2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupC" [selected]="team.Id===secondTeamInGroupCPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group C')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupC.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group D</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupDPrediction,$event.target.value)" name="d1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupD" [selected]="team.Id===firstTeamInGroupDPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group D</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupDPrediction,$event.target.value)" name="d2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupD" [selected]="team.Id===secondTeamInGroupDPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group D')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupD.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group E</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupEPrediction,$event.target.value)" name="e1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupE" [selected]="team.Id===firstTeamInGroupEPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group E</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupEPrediction,$event.target.value)" name="e2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupE" [selected]="team.Id===secondTeamInGroupEPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group E')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupE.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group F</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupFPrediction,$event.target.value)" name="f1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupF" [selected]="team.Id===firstTeamInGroupFPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group F</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupFPrediction,$event.target.value)" name="f2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupF" [selected]="team.Id===secondTeamInGroupFPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group F')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupF.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group G</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupGPrediction,$event.target.value)" name="g1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupG" [selected]="team.Id===firstTeamInGroupGPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group G</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupGPrediction,$event.target.value)" name="g2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupG" [selected]="team.Id===secondTeamInGroupGPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group G')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupG.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label>1st Team of Group H</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamInGroupHPrediction,$event.target.value)" name="h1">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupH" [selected]="team.Id===firstTeamInGroupHPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>2nd Team of Group H</label>
              <select [disabled]="!IsGroupPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamInGroupHPrediction,$event.target.value)" name="h2">
                <option [value]=""></option>
                <option *ngFor="let team of teamsOfGroupH" [selected]="team.Id===secondTeamInGroupHPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label> 
              <button class="btn btn-info btn-block" [disabled]="IsGroupPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForGroups('Group H')">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupH.Score}}</button>
            </div>
          </div>
        </div>

        <h1 class="display-4 mt-3">Top-notchs</h1>

        <hr />

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label>1st Team</label>
              <select [disabled]="!IsTopNotchPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(firstTeamPrediction,$event.target.value)" name="w1">
                <option [value]=""></option>
                <option *ngFor="let team of teams" [selected]="team.Id===firstTeamPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsTopNotchPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForTopNotchs(2)">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupFirst.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label>2nd Team</label>
              <select [disabled]="!IsTopNotchPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(secondTeamPrediction,$event.target.value)" name="w2">
                <option [value]=""></option>
                <option *ngFor="let team of teams" [selected]="team.Id===secondTeamPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsTopNotchPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForTopNotchs(3)">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupSecond.Score}}</button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label>3rd Team</label>
              <select [disabled]="!IsTopNotchPredicationEnabled" class="form-control" (change)="onChangeBonusPrediction(thirdTeamPrediction,$event.target.value)" name="w3">
                <option [value]=""></option>
                <option *ngFor="let team of teams" [selected]="team.Id===thirdTeamPrediction.TeamId" [value]="team.Id">{{team.TeamName}}</option>
              </select>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-info btn-block" [disabled]="IsTopNotchPredicationEnabled" style="max-width:100%" (click)="showBonusPredictionStatsForTopNotchs(4)">Stats</button>
            </div>
          </div>
          <div class="col-2 pt-2">
            <div class="form-group">
              <label></label>
              <button class="btn btn-outline-primary btn-block" style="max-width:100%">Score: {{bonusScoreGroupThird.Score}}</button>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-panel>

    <ngb-panel id="static-1" title="Match Predictions">
      <ng-template ngbPanelContent>
        <div class="row p-3">

          <div class="col-12">

            <div class="row d-none d-md-block">
              <div class="col">
                <div class="btn-toolbar justify-content-between mb-5" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" (click)="filterMatchesBasedOnType(0,'A')" class="btn btn-secondary">A</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'B')" class="btn btn-secondary">B</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'C')"  class="btn btn-secondary">C</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'D')" class="btn btn-secondary">D</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'E')" class="btn btn-secondary">E</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'F')" class="btn btn-secondary">F</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'G')" class="btn btn-secondary">G</button>
                    <button type="button" (click)="filterMatchesBasedOnType(0,'H')" class="btn btn-secondary">H</button>
                    <button type="button" (click)="filterMatchesBasedOnType(1,null)" class="btn btn-secondary">Round of 16</button>
                    <button type="button" (click)="filterMatchesBasedOnType(2,null)" class="btn btn-secondary">Quarter-finals</button>
                    <button type="button" (click)="filterMatchesBasedOnType(3,null)" class="btn btn-secondary">Semi-finals</button>
                    <button type="button" (click)="filterMatchesBasedOnType(4,null)" class="btn btn-secondary">Play-off</button>
                    <button type="button" (click)="filterMatchesBasedOnType(5,null)" class="btn btn-secondary">Final</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" (click)="filterMatchesBasedOnPredictionType(0)" class="btn btn-success">Predicted</button>
                    <button type="button" (click)="filterMatchesBasedOnPredictionType(1)" class="btn btn-success">Non-predicted</button>
                    <button type="button" (click)="filterMatchesBasedOnPredictionType(null)" class="btn btn-success">All</button>
                  </div>
                </div>
              </div>
            </div> 
            

            <div class="row">
              <div *ngFor="let match of filteredMatches" class="col-md-4 mb-5 col-12">
                <div class="card">
                  <img class="card-img-top img-fluid" [src]="match.StadiumImageUrl" style="height: 200px;">
                  <div class="card-body" style="border-bottom: 1px solid #dfdfdf">
                    <div class="text-center" style="font-size:15px;font-weight:bold;">
                      <span>
                        {{match.MatchTypeDescription}}
                      </span>
                    </div>
                    <hr style="margin-top:4px" />
                    <div>
                      <div class="float-left">
                        <i class="fas fa-home"></i>
                        <span>
                          {{match.CityName}}
                        </span>
                      </div>
                      <div class="float-right">
                        <span>
                          {{match.StadiumName}}
                        </span>
                        <i class="fas fa-university"></i>
                      </div>
                    </div>
                    <br />
                    <hr />
                    <div>
                      <div class="float-left">
                        <i class="far fa-calendar-alt"></i>
                        <span>
                          {{match.MatchDate}}
                        </span>
                      </div>
                      <div class="float-right">
                        <span>
                          {{match.MatchTime}}
                        </span>
                        <i class="far fa-clock"></i>
                      </div>
                    </div>
                    <br />
                    <hr />
                    <div>
                      <div class="row">
                        <div class="col-4 text-center">
                          <img [src]="match.HomeTeamFlagUrl" height="25" style="box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);" />
                          <p style="font-size:12px;margin-top:3px;margin-bottom:3px">
                            {{match.HomeTeamName}}
                          </p>
                        </div>
                        <div class="col-4 text-center">
                          <div *ngIf="match.MatchHasStarted" style="padding-top: 2px;
    font-family: arial,sans-serif-light,sans-serif;
    font-weight: normal;
    font-size: 25px;">
                            <span class="float-left">{{match.HomeTeamResult}}</span>
                            <span> - </span>
                            <span class="float-right">{{match.AwayTeamResult}}</span>
                          </div>
                        </div>
                        <div class="col-4 text-center">
                          <img [src]="match.AwayTeamFlagUrl" height="25" style="box-shadow: -1px 2px 13px 1px rgba(0,0,0,0.75);
" />
                          <p style="font-size:12px;margin-top:3px;margin-bottom:3px">
                            {{match.AwayTeamName}}
                          </p>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div>

                      <div class="row" *ngIf="showNewPrediction(match)">
                        <div class="col">
                          <button type="button" class="btn btn-success btn-block" style="max-width:100%" (click)="openPredictDialog(match)">
                            <i class="far fa-lightbulb"></i>
                            Predict this match
                          </button>
                        </div>
                      </div>

                      <div class="row" *ngIf="showEditPrediction(match)">
                        <div class="col">
                          <button type="button" class="btn btn-outline-success btn-block" style="max-width:100%" (click)="openPredictDialog(match)">
                            <i class="fas fa-lightbulb float-left" style="color:yellow"></i>
                            {{match.HomeTeamPredictionResult}} <span> - </span> {{match.AwayTeamPredictionResult}}
                            <i class="fas fa-lightbulb float-right align-middle" style="color:yellow"></i>
                          </button>
                        </div>
                      </div>

                      <div class="row" *ngIf="match.MatchHasStarted">
                        <div class="col">
                          <button type="button" class="btn btn-warning btn-block disabled" style="max-width:100%" (click)="openPredictDialog(match)">
                            <i class="fas fa-lightbulb float-left" style="color:yellow"></i>
                            <span>
                              {{match.HomeTeamPredictionResult}} <span> - </span> {{match.AwayTeamPredictionResult}}
                            </span>
                            <i class="fas fa-lightbulb float-right align-middle" style="color:yellow"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col">
                        <div class="btn btn-primary btn-block" style="max-width:100%;cursor:default">
                          <i class="fas fa-star float-left align-middle" style="color:yellow"></i>
                          <span *ngIf="match.MatchHasStarted">{{match.Score}}</span>
                          <span *ngIf="!match.MatchHasStarted">Score (After match)</span>
                          <i class="fas fa-star float-right align-middle" style="color:yellow"></i>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col">
                        <button type="button" class="btn btn-info btn-block" [ngClass]="{disabled: !match.MatchHasStarted}" style="max-width:100%" (click)="openMatchStatsDialog(match)">
                          <i class="fas fa-book"></i>
                          Match Stats
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>


<ng-template #predictMatch let-c="close" let-d="dismiss">

  <div class="modal-header">

    <h4 class="modal-title">Match Prediction</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <p>Please predict the following match.</p>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="groupCode">{{selectedMatch.HomeTeamName}}</label>
          <input type="number" class="form-control" placeholder="0" [(ngModel)]="matchPrediction.HomeTeamPredictionResult">
          <small class="form-text text-muted">Your prediction for {{selectedMatch.HomeTeamName}}.</small>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="groupCode">{{selectedMatch.AwayTeamName}}</label>
          <input type="number" class="form-control" placeholder="0" [(ngModel)]="matchPrediction.AwayTeamPredictionResult">
          <small class="form-text text-muted">Your prediction for {{selectedMatch.AwayTeamName}}.</small>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="showPenaltyWinnerSelection(selectedMatch,matchPrediction)">
      <div class="col-12">
        <div class="form-group">
          <label for="groupCode">Which team is the ultimate winner in penalties?</label>
          <select class="form-control" [(ngModel)]="matchPrediction.PenaltyWinnerTeamId">
            <option [value]="selectedMatch.HomeTeamId">{{selectedMatch.HomeTeamName}}</option>
            <option [value]="selectedMatch.AwayTeamId">{{selectedMatch.AwayTeamName}}</option>
          </select>
          <small class="form-text text-muted">Choose the ultimate winner of the game.</small>
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-success" (click)="saveMatchPrediction()">Save</button>
  </div>

</ng-template>


<ng-template #matchStats let-c="close" let-d="dismiss">

  <div class="modal-header">

    <h4 class="modal-title">Match Stats</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <div class="row p-3">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption>All Predictions.</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">{{selectedMatch.HomeTeamName}}</th>
                <th scope="col">{{selectedMatch.AwayTeamName}}</th>
                <th *ngIf="selectedMatch.MatchType!=0" scope="col">Penalty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let matchStat of selectedMatchStats; index as i" [ngClass]="{'table-warning': thisIsMe(matchStat.UserName), 'table-success': !thisIsMe(matchStat.UserName)}" class="align-middle">
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle">
                  <img [src]="matchStat.UserImageUrl" height="50" style="border-radius:50px" />
                  {{matchStat.UserName}}
                </td>
                <td class="align-middle">{{matchStat.Score}}</td>
                <td class="align-middle">{{matchStat.HomeTeamResult}}</td>
                <td class="align-middle">{{matchStat.AwayTeamResult}}</td>
                <td *ngIf="selectedMatch.MatchType!=0" class="align-middle">{{matchStat.PenaltyWinnerTeamName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #groupBonusPredictionMatchStats let-c="close" let-d="dismiss">

  <div class="modal-header">

    <h4 class="modal-title">Bonus Prediction Stats</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <div class="row p-3">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption>All Predictions.</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">Winner</th>
                <th scope="col">Runnerup</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of selectedGroupBonusPredictionStats; index as i" [ngClass]="{'table-warning': thisIsMe(stat.UserName), 'table-success': !thisIsMe(stat.UserName)}" class="align-middle">
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle">
                  <img [src]="stat.UserImageUrl" height="50" style="border-radius:50px" />
                  {{stat.UserName}}
                </td>
                <td class="align-middle">{{stat.Score}}</td>
                <td class="align-middle">{{stat.FirstTeamName}}</td>
                <td class="align-middle">{{stat.SecondTeamName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #topNotchBonusPredictionMatchStats let-c="close" let-d="dismiss">

  <div class="modal-header">

    <h4 class="modal-title">Bonus Prediction Stats</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    <div class="row p-3">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption>All Predictions.</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of selectedGroupBonusPredictionStats; index as i" [ngClass]="{'table-warning': thisIsMe(stat.UserName), 'table-success': !thisIsMe(stat.UserName)}" class="align-middle">
                <th class="align-middle" scope="row">{{i+1}}</th>
                <td class="align-middle">
                  <img [src]="stat.UserImageUrl" height="50" style="border-radius:50px" />
                  {{stat.UserName}}
                </td>
                <td class="align-middle">{{stat.Score}}</td>
                <td class="align-middle">{{stat.FirstTeamName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<toaster-container [toasterconfig]="config"></toaster-container>
